{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/test.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="title">
            <h1>Secret Page</h1>
            <a href="/"><button type="submit">Back</button></a>
        </div>

        <div class="stress">
            <h2>배일현</h2>
            <p>ㅗㅗㅗ</p>
            <p>배일현을 놀리고 싶은 만큼 누르시오.</p>
            <button type="button">click!!!</button>
        </div>

        <div class="talk">
            <h2>배일현에게 하고싶은 말을 작성하시오.</h2>
            <input type="text" placeholder="여기에 적으세요!">
            <button type="submit">제출</button>
        </div>

        <div class="children">
            <h2>울아그들</h2>
            <ul>
                <li>김영우</li>
                <li>권준휘</li>
                <li>차지운</li>
                <li>문해연</li>
                <li>김정인</li>
                <li>정우혁</li>
                <li>이채은</li>
                <li>장예지</li>
                <li>양가을</li>
                <li>정민우</li>
                <li>김영재</li>
                <li>박소이</li>
                <li>문은서</li>
                <li>함영서</li>
                <li>김소중</li>
                <li>김수경</li>
                <li>김시영</li>
                <li>이동근</li>
            </ul>
        </div>

        <div class="light">
            <h2>빛...</h2>
            <ol>
                <li>배일현</li>
                <li>임종윤</li>
                <li>김승현</li>
                <li>임종부</li>
                <li>배민수</li>
                <li>김성진</li>
            </ol>
        </div>
    </body>
</html>